@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

body {
  font-family: 'Cormorant Garamond', serif;
}

@layer utilities {
  .text-shadow-md {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .text-shadow-lg {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
}
